extends layout

block content
  h1= title

  ul
  each persona in personaLista
    li 
      a(href=persona.url) #{persona.nombre} 
      |  (#{persona.apellido})
      |  (#{persona.nacimientoFormateado} )       

  else
    li No hay personas.